/*!
 * CWClan HTML5 Theme for PHP-Fusion
 * Version: 0.2
 *
 * Copyright 2013 CWClan
 * Licensed -/-
 * 
 * Homepage: http://www.cwclan.de
 * Source: https://github.com/ununseptium/cwclan-html5-newish
 * 
 * made by ununseptium@github and globeFrEak@github
 */

/***/
/*** Globals & Helpers ***/
/***/
body {
    background:url('../cwclan_boot/img/design/bgr.jpg');
    font-weight:300;
    font-size: 14px;
}
::selection {
    background: #ef9849;
    color: #fff;
}
.tp {
    font-family: 'Roboto', sans-serif;
}
a {
    color:#ef9849;
}
a:hover {
    color:#ef9849;
}
.clearfix:before,.clearfix:after{
    content:" ";display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 2px #ccc;
}
p {
    color: #333;
    line-height: 1.4;
}
img {    
    max-width: 100%; 
}
hr {
    margin-top: auto;
    margin-bottom: auto;
}
textarea {
    width: 100%;
}
.small{
    font-size: 12px;
}
.c_orange {
    color: #ef9849;
}
.overflow-scroll {
    overflow: auto;
}
.button, button, input[type=submit], input[type=button], .pagenav a {
    text-decoration: none;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    border: none;
    border-bottom: solid 3px #c67d55;
    box-shadow: none;
    cursor: pointer;
    text-shadow: 0px 1px 1px #fff;
    vertical-align: middle;
    color: #eee;
    background: #ef9849;
    text-shadow: 0px 1px 1px #eee;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    outline-style: none; -moz-outline-style:none;
}
.button:hover, button:hover, input[type=submit]:hover, input[type=button]:hover, .pagenav a:hover {
    border-color: #c47850;
    color: ivory;
}
.huge {
    font-size: 60px;
    padding: 45px 70px;
    border-bottom: 5px solid #d9d9d9;
}
.button:active:after, button:active, input[type=submit]:active, input[type=button]:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    margin-top: 6px;
    margin-bottom: 4px;
}

.ccw {
    color: #eee;
    background: #ef9849;
    border-color: #c67d55;
    text-shadow: 0px 1px 1px #eee;
}
.ccw:hover {
    border-color: #c47850;   
}
.form-control {
    width: 60px;
    height: auto;
}
input[type=text],input[type=password] {
    border: solid thin #ddd;
    padding: 3px 5px;
}
/***/
/*** Layout ***/
/***/
.topbar {
    left:0;
    top:0;
    position: fixed;
    z-index:99;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background: #efebdf;
    box-shadow: 0 0 8px #888;
    font-family: 'Oswald', sans-serif;
    border-bottom: solid thin #ccc;
}
.topbar .title {
    margin-left: 13%;
    color: #ababab;
    line-height: 48px;
    font-size: 28px;
    float:left;
    font-weight:400;
    text-shadow: 0 0 2px #ccc;
}
.topbar .subtitle {
    color: #ef9849;
    line-height: 38px;
    font-size: 18px;
    font-weight:400;
    text-shadow: 0 0 2px #ccc;
}
.login-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 5px;
    margin-top: -10px;
    font-size: 12px;
}
.responsive-login {
    z-index:98;
    position:static;
    top:50px;
    left:0px;
    background: #efebdf;
    box-shadow: 0 0 8px #888;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 2px #ccc;
    border-bottom: solid thin #ccc;
    width: 100%;
}
.responsive-login .login-box-r {
    width: 75%;
    margin:0 auto;
}
.logged_in_box .user_avatar {
    float: left;    
    font-family: 'Roboto', sans-serif;
    margin: 4px 4px 4px 10px;
}
.user_avatar img {
    border-radius: 5px;
    box-shadow: 0 1px 2px #888;
    border:solid thin #666;
}
.logged_in_box .user_login_content {
    float: left;
    font-size: 16px;    
}
.logged_in_box .user_login_content .user_login_icons {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}
.logged_in_box .user_login_content .user_login_icons .tp {
    padding-left: 5px;
    padding-right: 5px;
}
.logged_in_box .user_login_content .user_login_icons a:link {
    color: #fff;
}
.logged_in_box .user_login_content .user_login_icons a:visited {
    color: #fff;
}
.user_login_name {
    margin-left: 10px;
    margin-right: 10px;
    float: left; 
    line-height: 2;
    font-size: 18px;
}
.user_login_name, .user_login_icons{
    text-align: right;    
}
.user_login_icons a {
    margin: 0 2px 0 2px;
}
.wrapper{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #777;
    background:url('../cwclan_boot/img/design/bg_content.jpg');
    border-radius: 3px;
}
.welcome {}
.welcome h3 {
    margin-bottom: 0;
    color: #ef9849;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.sidebar, .sidepanel {
    min-height: 200px;
    border-top-left-radius: 4px;
}
.sidebar_left {}
.sidebar_right {}
.sidebar ul, .sidepanel ul {
    list-style:none;
}
.sidebar .box, .sidepanel .box {
    margin-top: 20px;
    box-shadow: 0 0 5px #555;
}
.sidebar .box h3, .sidepanel .box h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #efefef;
    text-shadow: 1px 1px 1px #333;
    font-weight: 300;
    padding: 0px 10px;
    line-height:1.7;
    background: #444;
    margin:0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left: solid thin #444;
    border-right: solid thin #444;
    border-top: solid thin #444;
}
.sidebar .box p,.sidebar .sidebar_div, .sidepanel .box p, .sidepanel .sidebar_div {
    background: url('../cwclan_boot/img/design/agsquare.png');	
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px 10px;
    margin-top: 0;    
    font-size:13px;
}
.sidebar .box .sidebar_div, .sidepanel .box .sidebar_div {
    margin-bottom: 16px;
}
.content {
    background: url('../cwclan_boot/img/design/agsquare.png');	
    position: relative;
    z-index:0;
    min-height: 200px;
    padding: 1px 6px;
}
footer {
    position: relative;
    z-index:5;
    color: #efefef;
    background: #444;
    padding: 10px 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.flleft {float: left !important;}
.upperfooter {     
    background: rgb(68, 68, 68);
    background: rgba(68, 68, 68, 0.8);
    border-top: solid thin #444;
}
.upperfooter div {
    *display: inline;
    *margin: 0 20px;
    color: #efefef;
}
.upperfooter div h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #efefef;    
    text-align:center;
    padding: 5px;    
    margin: 0 10px;    
}
.upperfooter div li, .upperfooter div ul {	
    line-height: 26px;
    list-style-type: none;
    padding: 0;	
    text-align:left;		
}
.upperfooter div .horizontal li {    
    padding-left: 5px;
    -webkit-transition: all 0.5s ease-in-out;
}
.upperfooter div .horizontal li:hover {    
    padding-left: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    text-shadow: 0 0 2px #ccc;
}
.upperfooter div .horizontal li a:hover {    
    text-decoration: none;    
}
.upperfooter div .vertical li {
    width: 20%;
    height: 45pt;
    text-align: center;
    padding: 5px;    
    -webkit-transition: all 0.5s ease-in-out;
    float: left;
}
.upperfooter div .vertical li:hover {    
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    text-shadow: 0 0 2px #ccc;
    color: #CA880C;
}
.upperfooter div .vertical li a {    
    font-size: 40pt;
    color: #ef9849;
    -webkit-transition: all 0.5s ease-in-out;
}
.upperfooter div .vertical li a:hover {
    font-size: 45pt;    
    color: #ccc;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
}
.upperfooter div ul {	
    margin: 0;   	
}
.breadcrumb {
    font-family: 'Roboto Condensed', sans-serif;
    color: #efefef;
    background: #444;
    padding: 7px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom:0;
    font-weight:300;
}
.hero {
    height: 200px;
    width: 100%;
    background:url('../cwclan_boot/img/specials/hero_01.jpg') no-repeat #444;
}
.icons {
    color: #aaa;
    font-size: 14px;
    cursor: pointer;
    vertical-align:middle;
}
.icons:hover {
    color: #888;
}
article {
    padding: 0 5px 10px 5px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
article:last-child {
    margin-bottom: 30px;
}
article h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #ef9849;
    line-height: 48px;
    font-size: 26px;
    margin:0 10px;
}
article p {
    margin:0;
    padding: 5px;
}
article .article_submenu {
    font-size: 14px;
    color: #333;
    padding: 0 0 5px 7px;
    margin: 0 5px;    
    border-bottom: solid thin #ccc;
}
article .article_submenu .comments {
    float: right;
}
article .article_submenu .author {    
    float: left;
}
.pagination .menu, ol, ul {
    padding: 0;
}
#left-panel, #right-panel{
    background: #555;
    padding: 0 5px 0 5px;
    width: 13%;
    min-width: 200px;
}
#left-panel {    
    position:absolute;
    top:0;
    left:0;
    height:100%;
    z-index:97; /*navbars haben 98*/    
    border-right: thin solid #777;
}
#right-panel {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    z-index:97;    
    border-left: thin solid #777;
}
/***/
/*** Bootstrap Custom Navbar & Topbar ***/
/***/
.topbar .login input[type=submit] {
    margin-top: 0;
}
.navbar {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:  21px;
    position: relative;
    z-index: 96;
    margin-bottom:0;
}
.navbar-footer  {
    z-index: 98;
}

.navbar-fixed-bottom {
    right:auto;
    border-radius: 4px;
    margin:0 0 2px 5px;
}
.navbar-form {
    margin: auto;
    padding: 5px 0 0 0;    
}
.navbar-form button, .navbar-form a {
    margin: 0 0 0 2px;
}
.navbar-default {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border: none;
    min-height: 35px;
    box-shadow: none;
}
.navbar-inverse {
    background: #444;
    font-weight: 300;
    font-size:  15px;
    min-height: 35px;
    color: #efefef;
    border: none;
    border-radius: 0px;
}
.navbar-fixed-bottom {
    position: fixed;
}
.navbar .nav>li>a {
    text-shadow: none;
    color: #eee;
}
.navbar .nav>li>a:hover {
    color: #eee;
}
.navbar .nav>li:hover {
    background:none;
}
.navbar-inverse .btn-navbar {
    background: #333;
    margin-top: 3px;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar-inverse .btn-navbar:hover {
    background: #222;
}
.navbar-collapse{
    max-height: 450px;
}
.navbar-inverse .navbar-collapse .nav>li>a:hover, .navbar-inverse .navbar-collapse .nav>li>a:focus, .navbar-inverse .navbar-collapse .dropdown-menu a:hover, .navbar-inverse .navbar-collapse .dropdown-menu a:focus {
    background: #ef9849;
    color: #fff;
}
.navbar-collapse .nav>li>a, .navbar-collapse .dropdown-menu a {
}
.nav li ul li:first-child a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.nav li ul li:last-child a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.nav li ul li a:hover {
    color: #fff;
}
.navi_hint {
    text-align: center;
    padding-top: 4px;
}
.navi_hint a {
    color: #fff;
    margin-left:auto;
    margin-top:auto;
    text-align: center;
}
.navi_hint a:hover {
    cursor: pointer;
}
.dropdown-menu > li > a {
    padding: 7px 20px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/***/
/*** Potential Infusion Styles ***/
/***/

.sidebar .box .image_box {
    text-align: center;
    line-height: 1;    
}

/* FORUM PANEL */
.infusion_forum {
    margin-top: 15px;
}
.infusion_forum .table {
    font-size: 13px;
    border: solid thin #ccc;
    box-shadow: 0 0 2px #ccc;
}
.infusion_forum .table .forum {
    font-weight: 300;
}
.infusion_forum .table .topic {
    color: #ef9849;
}
.infusion_forum .table th {
    text-align: center;
    color: #ef9849;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}
.infusion_forum .table td {
    vertical-align: middle;
    text-align: center;
}
.infusion_forum .table a {
    color: #ef9849;
}
.infusion_forum .table td:nth-child(2) {
    text-align: left;
}
.infusion_forum .table th:nth-child(2) {
    text-align: left;
}

/***/
/*** ***/
/***/

/* Admin Message */
.admin-message {
    text-align:center;
    position:relative;    
    background: rgba(239, 152, 73,0.3);
    border: solid thin rgb(239, 152, 73);
    color: #666;
    padding: 6px 8px;
}
/***/
/***PHP Fusion pagination***/
/***/
.pagenav {
    padding-bottom: 0.6em;
    color: #444;
}
.pagenav span {
    text-decoration: none;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: #ccc thin solid;
    border-radius: 3px;    
    border-bottom: solid 3px #ccc;
    box-shadow: none;
    cursor: pointer;
    text-shadow: 0px 1px 1px #fff;
    vertical-align: middle;
    color: #ef9849;
    text-shadow: 0px 1px 1px #ccc;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    outline-style: none; -moz-outline-style:none;
}
/*PHP-FUSION Forum*/
.userinfo {
    margin: 0 auto;
}
.userinfo-wrapper {
    display:block;
    width:150px;
    height:150px;
    border-radius: 3px;    
}
.userinfo img {
    width:100%;
    height:100%;
    position:absolute;
    display:block;
    border-radius: 3px;
}
.userinfo span img {
    width: auto;
    height: auto;
}
.userinfo .userinfo-detail {
    display:block;
    width:100%;
    height:100%;
    position:absolute;	
    background: url('../cwclan_boot/img/design/agsquare.png');
    font-weight: 400;
    font-size:16px;		
    font-family: 'Roboto Condensed',sans-serif;
    padding: 30px 10px 10px 10px;
    border-radius: 3px;
    box-shadow: inset 0 0 8px #bbb;
}
.userinfo .userinfo-detail a {    
    width:100%;
    font-weight:bold;	
    text-decoration:none;		
    letter-spacing:-1px;    	
    font-size:18px;
    display:block;
    padding: 0;
    padding-left: 5px;    
    height: auto;
    position: absolute;
    background-color: #444;
    background-image: repeating-linear-gradient(315deg, transparent, transparent 10px, rgba(255,255,255,.1) 2px, rgba(255,255,255,.1) 12px);    
    left: 0;
    top: 5px;    
}
/*
* Without CSS3
*/
.userinfo.scroll {
    overflow: hidden;
}
.userinfo.scroll .userinfo-detail {
    bottom:-280px;
}
/*
* CSS3 Flip
*/	
.userinfo.flip {
    -webkit-perspective:800px;		
    -moz-perspective:800px;
    -ms-perspective:800px;		   		
    -o-perspective:800px;
    perspective:800px;
}
.userinfo.flip .userinfo-wrapper {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -moz-transform 1s;
    -o-transition: -moz-transform 1s;
    transition: -moz-transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;			
    -ms-transform-style: preserve-3d;			
    -o-transform-style: preserve-3d;			
    transform-style: preserve-3d;			
}
.userinfo.flip .userinfo-detail {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);			   			
}
.userinfo.flip img,
.userinfo.flip .userinfo-detail {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.userinfo.flip .flipIt {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);			
    -ms-transform: rotateY(-180deg);			
    -o-transform: rotateY(-180deg);			
    transform: rotateY(-180deg);			
}
/***/
/***PHP Fusion table***/
/***/
table {
    border-collapse:separate;
}
table th, table td {
    border: none;
    padding: 5px;
}
.profile, .profile_category {
    width: 80%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.profile:nth-child(2) {
    margin-top: 15px;
}
.tbl-border {
    padding: 15px;
    background: #fff;
    border: solid thin #ddd;
    box-shadow: 0 2px 1px #eee;    
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.tbl-border.forum_idx_table, .tbl-border.forum_thread_table {
   width: 100%;   
}
.textbox {
    background: #fbfbfb;   
    border: solid thin #ddd;
    box-shadow: 0 1px 2px #eee;
}
.tbl-border2 {
    border: solid thin #ddd;
}
.tbl1 {
}
.tbl2{
}
.forum_thread_table tbody .tbl1{
    background-color: rgb(224, 224, 224);
    background-color: rgba(224, 224, 224, 0.5);
}
.forum_thread_table tbody .tbl1:hover{
    background-color: rgb(204, 204, 204);
    background-color: rgba(204, 204, 204, 0.5);
}
.forum_thread_table tbody .tbl1 {
    background: inherit;   
}
.forum_thread_table tbody .tbl1:hover {
    background: inherit;   
}
.forum_idx_table tbody > tr:nth-child(odd) > td,
.forum_idx_table tbody > tr:nth-child(odd) > th,
.forum_table tbody > tr:nth-child(odd) > td,
.forum_table tbody > tr:nth-child(odd) > th{  
    background-color: rgb(224, 224, 224);
    background-color: rgba(224, 224, 224, 0.5);
}
.forum_idx_table tbody tr:hover > td,
.forum_idx_table tbody tr:hover > th,
.forum_table tbody tr:hover > td,
.forum_table tbody tr:hover > th{
    background-color: rgb(204, 204, 204);
    background-color: rgba(204, 204, 204, 0.5);
}
.forum_table tr .tbl2:nth-child(1){
    padding: 2px;
}
.forum_table tr .tbl2:nth-child(1) img{
    max-width: none;
}
@media only screen and (max-width: 950px) {
    .mobilehid,
    .wrap_forumpanel div .forum_table tr td:nth-child(3), 
    .wrap_forumpanel div .forum_table tr td:nth-child(4),
    .wrap_forumpanel div .forum_table tr td:nth-child(5),
    .forum_idx_table tr .forum-caption:nth-child(2), 
    .forum_idx_table tr .forum-caption:nth-child(3),
    .forum_idx_table tr .tbl1:nth-child(3), 
    .forum_idx_table tr .tbl1:nth-child(4),
    .forum_idx_table tr .tbl2:nth-child(3), 
    .forum_idx_table tr .tbl2:nth-child(4),
    .forum_table tr .tbl1:nth-child(3), 
    .forum_table tr .tbl1:nth-child(4),
    .forum_table tr .tbl1:nth-child(5),
    .forum_table tr .tbl2:nth-child(3), 
    .forum_table tr .tbl2:nth-child(4),
    .forum_table tr .tbl2:nth-child(5),
    #forum_panel_threads tr td:nth-child(2),
    #forum_panel_threads tr th:nth-child(2){
        display: none;
        visibility: hidden;
    }
}
td img {
    max-width: none;
}
.forum-caption{
    font-weight:bold;
}
/***/
/***PHP Fusion***/
/***/
.profile_category_name {
    font-size: 18px;
    text-decoration:underline;
}
.bbcode-popup{
    background:#444;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #333;
    border-color:#999;
    padding: 5px;
}
#selectedMapColorshout_message {
    padding: auto
}
.comments .tbl2, .tbl1 {
    padding: 5px;
}
.comments .small {
    font-size:12px;
}
.comments>div:nth-child(4n+1),
.comments>div:nth-child(4n+2) {
    background-color: rgb(224, 224, 224);
    background-color: rgba(224, 224, 224, 0.5);    
}
.comments>div:nth-child(2n+3){
    padding-top: 5px;    
}
.comment_message {
    padding-bottom: 5px;    
    border-bottom: solid thin #ddd;
}
.comment-name {
    margin: 5px;
}
span .panelbutton {
    position: relative;
    float: right;
    top: -21px;
    right: 10px;
}

/* Shoutbox Styles */
.shout_form {
    margin-top: 20px;
}
.shout_form input[type="text"] {
    display: inline-block;
    width: 75%;
    padding: 5px;
}
.shout_form input[type="submit"] {
    display: inline-block;
    width: 25%;
    border-radius:0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 0;
    margin-right: 0;
    margin-top:1px;
    padding-bottom: 2px;
}
.shout_form div {
}
.shout_form div input[type="image"] {
    padding-top: 15px;
}
.shout {
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: thin dashed #aaa;
}
.shout:nth-child(odd) .shoutbody
{  
    float: left;
}
.shout:nth-child(odd) .shoutboxname 
{
    float: right;
    padding-left: 7px;
}
.shout:nth-child(even) .shoutbody
{  
    float: right;
}
.shout:nth-child(even) .shoutboxname 
{
    float: left;   
}
.shout .shoutbox_user_avatar {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.shoutbody {
    width: 80%;
}
.shoutboxname{
    font-weight:bold;
    width: 20%;
}
.shoutbox{
    background: #fff;
    border: solid thin #ddd;
    box-shadow: 0 1px 1px #eee;
    padding: 5px;
    
}

.shoutheader {
    font-weight: 700;
}
.shoutheader a {
    color: inherit;
    text-decoration: none;
}
.shoutboxdate{
    color: #ccc;
}
.small{    
}
.small2{    
}
.side-small{

}    
.side-label{
    color:#444;
    padding:2px 2px 3px 2px;
}
/***/
/***Forums Panel***/
/***/
div.wrap{
    width:100%;padding-top:4px;
}
.wrap .pane{
    border-top:0;
}
div.wrap_forumpanel{
    width:100%;padding-top:4px;
}
.wrap_forumpanel .pane{
    display:none;border-top:0;
}
ul.tabs{
    list-style:none;
    margin:0 !important;
    padding:0;height:36px;
}
ul.tabs li{
    float:left;
    padding:0;
    text-indent:0;
    margin:0 4px 0 0;
    list-style-image:none !important;
    border-top: solid thin #ddd;
    border-left: solid thin #ddd;
    border-right: solid thin #ddd;
}
ul.tabs li a{    
}
.wrap_forumpanel .tabs li a{    
}
ul.tabs a{
    display:block;
    text-decoration:none;
    padding:2px;
    margin:0px;
    position:relative;
}
ul.tabs a:active{
    outline:none;
}
ul.tabs a:hover{
    background-position:-420px -31px;
}
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a{
    background-position:-420px -62px;
    cursor:default !important; 
    color: #000;
    background-color: rgb(224, 224, 224);
    background-color: rgba(224, 224, 224, 0.5);
}
ul.tabs a.s{
    background-position:-553px 0;
    width:81px;
}
ul.tabs a.s:hover{
    background-position:-553px -31px;
}
ul.tabs a.s.current{
    background-position:-553px -62px;
}
ul.tabs a.l{
    background-position:-248px -0px;
    width:174px;
}
ul.tabs a.l:hover{
    background-position:-248px -31px;
}
ul.tabs a.l.current{
    background-position:-248px -62px;
}
ul.tabs a.xl{
    background-position:0 -0px;
    width:248px;
}
ul.tabs a.xl:hover{
    background-position:0 -31px;
}
ul.tabs a.xl.current{
    background-position:0 -62px;
}
.panes .pane{
    display:none;
}
.forum_table {
    margin-bottom: 0;
}
.wrap_forumpanel .pane tbody > tr:nth-child(odd) > td,
.wrap_forumpanel .pane tbody > tr:nth-child(odd) > th {  
    background-color: rgb(224, 224, 224);
    background-color: rgba(224, 224, 224, 0.5);
    border-top: solid thin #ddd;
    border-bottom: solid thin #ddd;
}
.wrap_forumpanel .pane tbody tr:hover > td,
.wrap_forumpanel .pane tbody tr:hover > th {
    background-color: rgb(204, 204, 204);
    background-color: rgba(204, 204, 204, 0.5);
}
/***/
/***Navigation***/
/***/
ul.next_days{-moz-padding-start:15px;}
ul#menu2, ul#menu2 ul{list-style-type:none;margin:0;padding:0;width:100%;text-align:left;}
ul#menu2 a{display:block;text-decoration:none;}
ul#menu2 li{margin-top:0px;display:inline;}
ul#menu2 li a{background:#424242;color:#fff;padding:0.5em;margin-bottom:1px;}
ul#menu2 li a:hover{background:#3B3B3B;color:#CA880C;}
ul#menu2 li ul a{color:#CA880C;background:#2C2C2C;padding-left:15px;}
ul#menu2 li ul a:hover{background:#3B3B3B;color:#97660A;}

/* Bootstrap 3 Custom Button */
.btn-dark {
    color: #fff;
    background-color: #444;
    border-color: #777;  
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
    color: #ef9849;
    background-color: #444;
    border-color: #777;
}
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
    background-image: none;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
    background-color: #444;
    border-color: #777;
}
/***/
/***Bootstrap Grid***/
/***/
.row {
    margin-left: auto;
    margin-right: auto;
}
/** BOOTSTRAP MULTI DROPDOWN**/
.dropdown-menu>li /* To prevent selection of text */
{   position:relative;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor:pointer;
}
.dropdown-menu .sub-menu 
{
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left-color:#fff;
    box-shadow:none;
}
.right-caret:after,.left-caret:after
 {  content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin-left:5px;
}
.right-caret:after
{   border-left: 5px solid #ffaf46;
}
.left-caret:after
{   border-right: 5px solid #ffaf46;
}