/*!
 * CWClan HTML5 Theme for PHP-Fusion
 * Version: 0.2
 *
 * Copyright 2013 CWClan
 * Licensed -/-
 * 
 * Homepage: http://www.cwclan.de
 * Source: https://github.com/ununseptium/cwclan-html5-newish
 * 
 * made by ununseptium@github and globeFrEak@github
 */

/***/
/*** Globals & Helpers ***/
/***/
body {
    background:url('../cwclan/img/design/bgr.jpg');
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size: 14px;
}
::selection {
    background: #ef9849; 
}
.tp {
    font-family: 'Roboto', sans-serif;
}
a {
    color:#ef9849;
}
a:hover {
    color:#ef9849;
}
.clearfix:before,.clearfix:after{
    content:" ";display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 2px #ccc;
}
p {
    color: #333;
    line-height: 1.4;
}
.c_orange {
    color: #ef9849;
}
/***/
/*** CWClan Buttons ***/
/***/
.cw-btn {
    box-shadow: 0 1px 3px #999;
    color: #fbfbfb;
    border: solid thin rgba(255,175,75,1);
    border-radius: 3px;
    background: rgba(255,175,75,1);
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight:300;
}
.cw-btn:hover {
}
.cw-btn:active {
    box-shadow: inset 0 1px 3px #555;
}

/***/
/*** Layout ***/
/***/
.topbar {
    left:0;
    top:0;
    position: fixed;
    z-index:99;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background: #efebdf;
    box-shadow: 0 0 8px #888;
    font-family: 'Oswald', sans-serif;
    border-bottom: solid thin #ccc;
}
.topbar .title {
    margin-left: 10%;
    color: #ababab;
    line-height: 48px;
    font-size: 28px;
    float:left;
    font-weight:400;
    text-shadow: 0 0 2px #ccc;
}
.topbar .subtitle {
    color: #ef9849;
    line-height: 38px;
    font-size: 18px;
    font-weight:400;
    text-shadow: 0 0 2px #ccc;
}
.topbar .btn-navbar {
    background:#e5deca;
}
.topbar .btn-navbar:hover {
    background:#efebdf;
}
.login-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 5px;
    margin-top: -10px;
    font-size: 12px;
}
.responsive-login {
    z-index:98;
    position:static;
    top:50px;
    left:0px;
    background: #efebdf;
    box-shadow: 0 0 8px #888;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 2px #ccc;
    border-bottom: solid thin #ccc;
    width: 100%;
}
.responsive-login .login-box-r {
    width: 75%;
    margin:0 auto;
}
.logged_in_box {
    height: 40px;   
}
.logged_in_box .user_avatar {
    float: left;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}
.logged_in_box .user_login_content {
    float: left;
    font-size: 16px;
    width: 150px;
}
.logged_in_box .user_login_content .user_login_icons {
    font-size: 13px;
    color: #444;
    font-family: 'Roboto', sans-serif;
}
.logged_in_box .user_login_content .user_login_icons a:link {
    color: #444;
}
.logged_in_box .user_login_content .user_login_icons a:visited {
    color: #444;
}
.wrapper {
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #777;
    background:url('../cwclan/img/design/bg_content.png');
    border-radius: 3px;
}
.welcome {}
.welcome h3 {
    margin-bottom: 0;
    color: #ef9849;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.sidebar {
    min-height: 200px;
    border-top-left-radius: 4px;
}
.sidebar_left {}
.sidebar_right {}
.sidebar ul {
    list-style:none;
}
.sidebar .box {
    margin-top: 20px;
    box-shadow: 0 0 5px #555;
}
.sidebar .box h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #efefef;
    font-weight: 500;
    padding: 0px 10px;
    line-height:1.7;
    background: #444;
    margin:0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left: solid thin #444;
    border-right: solid thin #444;
    border-top: solid thin #444;
}
.sidebar .box p,.sidebar .sidebar_div {
    background: url('../cwclan/img/design/agsquare.png');	
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px 10px;
    margin-top: 0;
    text-align: justify;
    font-size:13px;
}
.sidebar .box .sidebar_div {
    margin-bottom: 16px;
}
.content {
    background: url('../cwclan/img/design/agsquare.png');	
    position: relative;
    z-index:0;
    min-height: 200px;
    padding: 1px 6px;
}
footer {
    position: relative;
    z-index:5;
    color: #efefef;
    background: #444;
    padding: 10px 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.flleft {float: left !important;}
.footernav {    
    text-align: center;
    white-space: nowrap;
    font-size: 1em;
    letter-spacing: 2.5em;
    line-height: .6em;
    overflow: hidden;   	
}
.links-section {    
    width: 250px;
    margin: 10px 0;
    background: #efebdf;		
    border-radius: 3px;	
    box-shadow: 0 0 10px #999;             
    display: inline-block;
    letter-spacing: normal;
    font-size: normal;
    white-space: normal;
    text-align: normal;
    vertical-align: top;
}
.links-section {
    *display: inline;
    *margin: 0 20px;
}

.links-section h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #ababab;    
    text-align:center;
    padding: 5px;    
    margin: 0 10px;
    border-bottom: solid thin #ccc;
}
.links-section li, .links-section ul {	
    line-height: 26px;
    list-style-type: none;
    padding: 0;	
    text-align:left;		
}
.links-section li {    
    padding-left: 5px;
    -webkit-transition: all 0.5s ease-in-out;
}
.links-section li:hover {    
    padding-left: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    text-shadow: 0 0 2px #ccc;
}
.links-section ul {	
    margin: 0;   	
}
.links-s-content {
    margin: 5px;
    color:#ababab;
    line-height: 18px;
}
.breadcrumb {
    font-family: 'Roboto Condensed', sans-serif;
    color: #efefef;
    background: #444;
    padding: 7px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom:0;
    font-weight:300;
}
.hero {
    height: 200px;
    width: 100%;
    background:url('../cwclan/img/specials/hero_01.png') center no-repeat #444;
}
.icons {
    color: #aaa;
    font-size: 14px;
    cursor: pointer;
    vertical-align:middle;
}
.icons:hover {
    color: #888;
}
article {
    padding: 10px 5px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
article:last-child {
    margin-bottom: 30px;
}
article h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #ef9849;
    line-height: 48px;
    font-size: 26px;
    margin:0 10px;
}
article p {
    margin:0;
    padding: 5px;
}
article .article_submenu {
    font-size: 14px;
    color: #333;
    padding: 0 0 5px 7px;
    margin: 0 5px;    
    border-bottom: solid thin #ccc;
}
article .article_submenu .comments {
    float: right;
}
article .article_submenu .author {    
    float: left;
}
.pagination .menu, ol, ul {
    padding: 0;
}
/***/
/*** Bootstrap Custom Navbar & Topbar ***/
/***/
.topbar .login input[type=submit] {
    margin-top: 0;
}
.navbar {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    z-index: 98;
    margin-bottom:0;
    font-size: 18px;
}
.navbar-inverse .navbar-inner {
    background: #444;
    font-weight:300;
    font-size:15px;
}
.navbar-inner {
    min-height: 35px;
    color: #efefef;
    border: none;
    border-radius: 0px;
}
.navbar .nav>li>a {
    text-shadow: none;
    color: #eee;
}
.navbar .nav>li>a:hover {
    color: #eee;
}
.navbar .nav>li:hover {
    background:none;
}
.navbar-inverse .btn-navbar {
    background: #333;
    margin-top: 3px;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar-inverse .btn-navbar:hover {
    background: #222;
}
.nav-collapse, .nav-collapse.collapse {
}
.navbar-inverse .nav-collapse .nav>li>a:hover, .navbar-inverse .nav-collapse .nav>li>a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background: #ef9849;
    color: #fff;
}
.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
}
.nav li ul li a:hover {
    color: #fff;
}
.navi_hint {
    text-align: center;
    padding-top: 4px;
}
.navi_hint a {
    color: #fff;
    margin-left:auto;
    margin-top:auto;
    text-align: center;
}
.navi_hint a:hover {
    cursor: pointer;
}
.dropdown-menu > li > a {
    padding: 7px 20px;
    font-weight: 300;
}
/***/
/*** Potential Infusion Styles ***/
/***/

.sidebar .box .image_box {
    text-align: center;
    line-height: 1;    
}

/* FORUM PANEL */
.infusion_forum {
    margin-top: 15px;
}
.infusion_forum .table {
    font-size: 13px;
    border: solid thin #ccc;
    box-shadow: 0 0 2px #ccc;
}
.infusion_forum .table .forum {
    font-weight: 300;
}
.infusion_forum .table .topic {
    color: #ef9849;
}
.infusion_forum .table th {
    text-align: center;
    color: #ef9849;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}
.infusion_forum .table td {
    vertical-align: middle;
    text-align: center;
}
.infusion_forum .table a {
    color: #ef9849;
}
.infusion_forum .table td:nth-child(2) {
    text-align: left;
}
.infusion_forum .table th:nth-child(2) {
    text-align: left;
}

/***/
/*** ***/
/***/

/* Admin Message */
.admin-message {
    text-align:center;
    position:relative;
    margin: 150px 0px 0px 0px;
    background: rgba(239, 152, 73,0.3);
    border: solid thin rgb(239, 152, 73);
    color: #666;
    padding: 6px 8px;
}

/***/
/***PHP Fusion pagination***/
/***/

.pagenav {
    padding-bottom: 0.6em;	
}
.pagenav span {
    border: 1px solid #CCC;
    color: #CCC;
    border-radius: 3px;	
    padding: 0 4px;
    margin: 2px;
}
.pagenav a {	
    background: #444;
    border-radius: 3px;	
    padding: 2px 5px;
    margin: 2px;
    text-decoration: none; 
    color: #fff;
}
.pagenav a:hover {
    color:#ef9849;
    font-weight: bold;        
}
